@model WebApplication9.Models.tblJournal
@{
    ViewBag.Title = "Edit";
}

<script type="text/javascript">


    var app = angular.module('jouapp', [])
    app.controller('jourCtrl', function ($scope, $http, $window) {



        $scope.submitClick = function () {


            var post = $http({
                method: "POST",
                url: "/Home/Edit?" + id,
                dataType: 'json',
                data: { obj: $scope.user },
                headers: { "Content-Type": "application/json" }
            });

                $("#exampleModal").toggle();
                location.reload();
            post.success(function (data, status) {
            });

            post.error(function (data, status) {
                $window.alert(data.Message);
            });
        }
    });
</script>
<div ng-controller="jourCtrl" class="container-fluid">
    <div class="card card-outline card-success">
        <div class="card-header card-green"><h2 style="text-align:center">Edit Journal</h2></div>
        <div class="card-body">
            <form>
                <div class="form-horizontal">

                    <div class="row col-md-12">
                        <div class="form-group">
                            <input type="submit" value="update" class="btn btn-success btn-sm fa fa-trash" id="update" />
                        </div>

                    </div>

                    @* 1st Row *@

                    <div class="row col-md-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownList("category", new List<SelectListItem>
                                 { new SelectListItem{Text="X", Value="X"},
                                   new SelectListItem{Text="W", Value="W"},
                                    new SelectListItem{Text="Y", Value="Y"},
                                     
                                      },
                           "--Select Journal Category--", htmlAttributes: new { @class = "form-control", id="category"})
                            

                                <input type="hidden" ng-model="cust.id" />

                            </div>

                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Title</label>
                                @Html.TextBox("title", ViewData["title"], htmlAttributes: new { @class = "form-control", id = "title" })
                                @Html.TextBox("Id", ViewData["title"], htmlAttributes: new { @class = "form-control", id = "Ids", type = "Hidden" })
                                @Html.TextBox("ImpactFactor", ViewData["ImpactFactor"], htmlAttributes: new { @class = "form-control", id = "ImpactFactor", type = "Hidden" })
                            </div>

                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">No of Authors</label>
                                @Html.DropDownList("Author", new List<SelectListItem>
                                   { new SelectListItem{Text="1", Value="1"},
                                     new SelectListItem{Text="2", Value="2"},
                                      new SelectListItem{Text="3", Value="3"},
                                       new SelectListItem{Text="4", Value="4"},
                                        new SelectListItem{Text="5", Value="5"},
                                         new SelectListItem{Text="6", Value="6"},
                                        },
                             "Please select Author", htmlAttributes: new { @class="form-control",@id = "noofauthor" })
                    



                            </div>

                        </div>

                    </div>

                    @* 2nd Row *@
                    <div class="row col-md-12">

                        <div class="col-md-4" id="authors1">
                            <div class="form-group">
                                <label class="control-label">First Author Name</label>
                               
                                @Html.TextBox("Author1", ViewData["author1"], htmlAttributes: new { @class = "form-control",id= "Author1" })

                            </div>

                        </div>
                        <div class="col-md-4" id="authors2">
                            <div class="form-group">
                                <label class="control-label">Second Author Name</label>
                                @Html.TextBox("Author2", ViewData["author2"], htmlAttributes: new { @class = "form-control",id= "Author2" })

                            </div>

                        </div>
                        <div class="col-md-4" id="authors3">
                            <div class="form-group">
                                <label class="control-label">Third Author Name</label>
                                @Html.TextBox("Author3", ViewData["author3"], htmlAttributes: new { @class = "form-control" ,id= "Author3" })

                            </div>

                        </div>
                    </div>




                    @*4rd Row*@
                    <div class="row col-md-12">
                        <div class="col-md-4" id="authors4">
                            <div class="form-group">
                                <label class="control-label">Fourth Author Name</label>
                                @Html.TextBox("Author4", ViewData["author4"], htmlAttributes: new { @class = "form-control", id="Author4" })

                            </div>

                        </div>
                        <div class="col-md-4" id="authors5">
                            <div class="form-group">
                                <label class="control-label">Fifth Author Name</label>
                                @Html.TextBox("Author5", ViewData["author5"], htmlAttributes: new { @class = "form-control" ,id= "Author5" })

                            </div>

                        </div>
                        <div class="col-md-4" id="authors6">
                            <div class="form-group">
                                <label class="control-label">Sixth Author Name</label>
                                @Html.TextBox("Author6", ViewData["author6"], htmlAttributes: new { @class = "form-control",id= "Author6" })

                            </div>

                        </div>
                    </div>
                    @*5th Row*@
                    <div class="row col-md-12">

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Journal Name</label>
                                
                                @Html.TextBox("JournalNm", ViewData["journalName"], htmlAttributes: new { @class = "form-control",id= "JournalNm" })
                            </div>

                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Issue No</label>
                               
                                @Html.TextBox("IssueNo", ViewData["issueno"], htmlAttributes: new { @class = "form-control" ,id= "IssueNo" })
                            </div>

                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Volume No</label>
                              
                                @Html.TextBox("volumeno",ViewData["volumeno"], htmlAttributes: new { @class = "form-control" ,id= "volumeno" })
                            </div>

                        </div>
                    </div>


                    @*7th Row*@
                    <div class="row col-md-12">

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Start Page</label>
                               
                                @Html.TextBox("SPage", ViewData["SPage"], htmlAttributes: new { @class = "form-control" ,id="spage"})
                            </div>

                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">End Page</label>
                               
                                @Html.TextBox("EPage", ViewData["EPage"], htmlAttributes: new { @class = "form-control" ,id="epage"})
                            </div>

                        </div>
                        @**@
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Total Pages</label>
                               
                                @Html.TextBox("TPage", ViewData["totalPage"], htmlAttributes: new { @class = "form-control" ,disabled="disabled",id="tpage"})
                            </div>
                        </div>
                    </div>
                    @*8rth Row*@
                    <div class="row col-md-12">


                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Publication Name</label>
                               
                                @Html.TextBox("pubName", ViewData["pubName"], htmlAttributes: new { @class = "form-control" ,id= "pubName" })
                            </div>

                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Country</label>
                                @* @Html.DropDownList("CountryList", new List<string>ViewData["Country"]), "id", "Name"))*@
                                @Html.TextBox("CountryList", ViewData["Country"], htmlAttributes: new { @class = "form-control", id = "country" })
                               @* @Html.DropDownList("CountryList", ((List<string>)ViewBag.Country).Select(m => new SelectListItem { Text = m.ToString(), Value = m }))*@
                            </div>

                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Publication Date</label>
                               
                                @Html.TextBox("pubdate", ViewData["pubDate"], new { @class = "form-control",@type="date",id= "pubdate" })
                            </div>

                        </div>
                    </div>


                </div>

            </form>
        </div>
    </div>
</div>
<script>



    $(document).ready(function () {
        $('#example').DataTable();

        //Get IDs
        var author1 = $("#authors1");
        var author2 = $("#authors2");
        var author3 = $("#authors3");
        var author4 = $("#authors4");
        var author5 = $("#authors5");
        var author6 = $("#authors6");

        //CSS Code
        author1.css("display", "none");
        author2.css("display", "none");
        author3.css("display", "none");
        author4.css("display", "none");
        author5.css("display", "none");
        author6.css("display", "none");



        $('#noofauthor').change(function () {


            if ($(this).val() == "1") {
                author1.show();
                author2.hide();
                author3.hide();
                author4.hide();
                author5.hide();
                author6.hide();

            }
            else if ($(this).val() == "2") {
                author1.show();
                author2.show();
                author3.hide();
                author4.hide();
                author5.hide();
                author6.hide();
            }
            else if ($(this).val() == "3") {
                author1.show();
                author2.show();
                author3.show();
                author4.hide();
                author5.hide();
                author6.hide();
            }
            else if ($(this).val() == "4") {
                author1.show();
                author2.show();
                author3.show();
                author4.show();
                author5.hide();
                author6.hide();
            }
            else if ($(this).val() == "5") {

                author1.show();
                author2.show();
                author3.show();
                author4.show();
                author5.show();
                author6.hide();
            }
            else if ($(this).val() == "6") {

                author1.show();
                author2.show();
                author3.show();
                author4.show();
                author5.show();
                author6.show();
            }
            else {

                author1.hide();
                author2.hide();
                author3.hide();
                author4.hide();
                author5.hide();
                author6.hide();

            }

        });
    });

    ///Total page Count Logic
    $('#spage , #epage').keyup(function () {
        var StartPage = parseFloat($('#spage').val()) || 0;
        var EndPage = parseFloat($('#epage').val()) || 0;
        var totalPages = EndPage - StartPage;

        $('#tpage').val(totalPages);


    });

    $("#update").click(function () {
        var formdata = new FormData();
        formdata.append("Id", $("#Ids").val())
        formdata.append("category", $("#category").val());
        formdata.append("title", $("#title").val());
        formdata.append("ImpactFactor", $("#ImpactFactor").val());
        formdata.append("Author", $("#noofauthor").val());
        formdata.append("Author1", $("#Author1").val());
        formdata.append("Author2", $("#Author2").val());
        formdata.append("Author3", $("#Author3").val());
        formdata.append("Author4", $("#Author4").val());
        formdata.append("Author5", $("#Author5").val());
        formdata.append("Author6", $("#Author6").val());
        formdata.append("JournalNm", $("#JournalNm").val());
        formdata.append("IssueNo", $("#IssueNo").val());
        formdata.append("volumeno", $("#volumeno").val());
        formdata.append("SPage", $("#spage").val());
        formdata.append("EPage", $("#epage").val());
        formdata.append("TPage", $("#tpage").val());
        formdata.append("pubName", $("#pubName").val());
        formdata.append("CountryList", $("#CountryList").val());        
        formdata.append("pubdate", $("#pubdate").val());
        console.log("FormData:" + formdata.get("category"))
        $.ajax({
            method: 'POST',
            url: '/Home/Edit/',
            data: JSON.stringify(formdata),
            dataType: 'JSON',
            success: function () {
                alert("Hy")
            },
            error: function () { }

        });




    });



</script>
