<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kingster &#8211; School, College &amp; University HTML Template</title>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700%2C400" rel="stylesheet" property="stylesheet" type="text/css" media="all">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CABeeZee%3Aregular%2Citalic&amp;subset=latin%2Clatin-ext%2Cdevanagari&amp;ver=5.0.3' type='text/css' media='all' />
    <link href="~/wwwroot/Plugin/plugins/goodlayers-core/plugins/combine/style.css" rel="stylesheet" type='text/css' media='all' />
    <link href="~/wwwroot/Plugin/plugins/goodlayers-core/include/css/page-builder.css" rel="stylesheet" type='text/css' media='all' />
    <link href="~/wwwroot/Plugin/plugins/revslider/public/assets/css/settings.css" rel="stylesheet" type='text/css' media='all' />
    <link href="~/wwwroot/css/style-core.css" rel="stylesheet" type='text/css' media='all' />
    <link href="~/wwwroot/css/kingster-style-custom.css" rel="stylesheet" type='text/css' media='all' />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.6/css/responsive.dataTables.min.css" />
</head>
<body ng-app="jouapp">
    @Html.Partial("PartialView/_MobileHeaderWraper")

   
    <div class="kingster-body-outer-wrapper ">
        <div class="kingster-body-wrapper clearfix  kingster-with-frame">
            @Html.Partial("PartialView/_TopBar")
            @Html.Partial("PartialView/_HeaderWrapper")
            <div class="container-fluid" style="margin-top:50px;margin-bottom:80px;">
                @RenderBody()
            </div>
            
            @Html.Partial("PartialView/_FooterWrapper")
        </div>
    </div>



    @Html.Partial("PartialView/_ScriptPartialView")
 


    @RenderSection("scripts", required: false)
</body>
</html>
