<!DOCTYPE html>
<html>
<head>
    @Html.Partial("PartialView/_StylePartialView")
</head>
<body ng-app="jouapp">
    @Html.Partial("PartialView/_MobileHeaderWraper")

   
    <div class="kingster-body-outer-wrapper ">
        <div class="kingster-body-wrapper clearfix  kingster-with-frame">
            @Html.Partial("PartialView/_TopBar")
            @Html.Partial("PartialView/_HeaderWrapperAdmin")
            <div class="container-fluid" style="margin-top:50px;margin-bottom:80px;">
                @RenderBody()
            </div>
            
            @Html.Partial("PartialView/_FooterWrapper")
        </div>
    </div>



    @Html.Partial("PartialView/_ScriptPartialView")
 


    @RenderSection("scripts", required: false)
</body>
</html>
